<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1>Listing for Dish</h1>

	<f:flashMessages/>

	<table class="tx_restaurantmheptlsmbkebdm">
		<tr>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.name"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.description"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.photo"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.type"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.price"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.discount"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.allergens"/>
			</th>
			<th>
				<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_dish.frozens"/>
			</th>
			<th></th>
			<th></th>
		</tr>

		<f:for each="{dishes}" as="dish">
			<tr>
				<f:link.action action="show" arguments="{dish : dish}">
					<td>{dish.name}</td>
					<td>{dish.description}</td>
					<td>{dish.photo.originalResource.name}</td>
					<td>{dish.type}</td>
					<td>{dish.price}</td>
					<td>{dish.discount}</td>
					<td>{dish.allergens}</td>
					<td>{dish.frozens}</td>
				</f:link.action>
			</tr>
		</f:for>
	</table>
</f:section>
</html>
