<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-restaurant-mheptlsmbkebdm" >
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.price" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.service" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.available" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_restaurantmheptlsmbkebdm_domain_model_menu.discount" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>